/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgb(185, 184, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-position: center;
    background-size: cover;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

.container {
    background-color: #0086ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
    max-width: 400px;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form input[type=text]:focus {
    background-color: #f0efef;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #d5120d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.form button:hover {
    background-color: #f86c67;
}

/* Clima */
#weather-data,
#error-message,
#loader {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: 0.6rem;
}

#temperature {
    font-size: 4rem;
}

#country {
    height: 25px;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#description-container {
    margin: 0.6rem 0;
}


#details-container #umidity {
    border-right: 1px solid #ffff;
    margin: 0.8rem;
    padding: 0.5rem;
}

/* Loader */
#loader i {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}